h1
{
    color: rgb(95, 95, 221);
    text-align: center;
}

section
{
    color: rgb(197, 32, 212);
    background-color: indigo;
    text-align: center;
}

div
{
color: darkorange;
background-color: gold;
text-align: center;
}